.map-overlay {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  bottom: 0;
  margin-right: 20px;
  overflow: auto;
  position: absolute;
  right: 0;
}

.feature {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}
